@import 'bootstrap/dist/css/bootstrap.css';

hr {
  clear:both;
  display:block;
  width: 100%;               
  height: 1px;
}

.nav-hr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

html, body {
  font-family: Arial !important;
  margin: 0;
}

p {
  text-align: justify;
}

@media screen and (min-width: 1040px) {
  .img-resize {
    width: 50%;
  }
}