@import 'bootstrap/dist/css/bootstrap.css';

hr {
  clear:both;
  display:block;
  width: 100%;               
  height: 1px;
}

.nav-hr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

html, body {
  font-family: Avenir;
  margin: 0;
}

p {
  text-align: justify;
}